.answer {
    width: auto;
    float: none;
    padding-top: 10px;
    clear: both;
    color: #242729;
    .answer-header {
        width: 100%;
        margin-top: 10px;
        color: #242729;
        .answer-sub-header {
            margin-bottom: 8px !important;
            display: flex;
            align-items: center;
            .answer-headline {
                flex: 1 auto !important;
                h2 {
                    font-weight: 400;
                    margin-bottom: 0;
                    font-size: 2em;
                }
            }
        }
    }
    .answers {
        border-bottom: 1px solid #c9cbce;
        width: 100%;
        padding-bottom: 16px;
        padding-top: 16px;
        color: #242729;
    }
    .answer-head {
        color: #242729;
        font-weight: 700;
        font-size: 1em;
    }
}