.post-cell {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  padding-right: 16px;
  grid-column: 2;
  width: auto;
  min-width: 0;
  pre {
    color: var(--black-800);
  }
  .post-text {
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.4em;
    line-height: 1.3;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    word-wrap: break-word;
    color: #2c91b3 !important;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  .post-tags {
    margin-bottom: 10px;
    clear: both;
    .tag-cell {
      display: block;
    }
  }
  .tags-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    .tags-field {
      display: flex;
      gap: 10px;
    }
  }
  .post-actions {
    margin-bottom: 0;
    .post-actions-extended {
      padding-top: 4px;
      margin-top: 16px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      .post-btns {
        flex: 1 1 100px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 16px !important;
        .post-menu {
          padding-top: 2px;
          .post-links {
            cursor: pointer;
            text-decoration: none;
            font-size: 13px;
            &:hover {
              color: #cfd2d6;
            }
          }
        }
      }
    }
  }
}
