.navbar {
    height: 59px;
    padding: 3px 3px 0 3px;
    box-shadow: 5px 2px rgba(41, 41, 41, 0.1);
    background-color: #ffffff;
    z-index: 5050;
    justify-content: center;
}

.s-navigation {
    padding: 2px 2px;
}

.subForm {
    background-color: #000000;
    margin: 2px 2px 0;
    position: fixed;
    z-index: 1;
    height: 40px;
    top: 60px;
    left: 0;
    right: 0;
    input {
        width: 100%;
        height: 100%;
        border: none;
        &:focus {
            border-color: #2b5f8a;
            box-shadow: 0 0 0 4px #378ad326;
            color: #fff;
            outline: 0;
        }
    }
}

* {
    color: black;
}

.s-navigation .not-selected {
    color: #000000;
    &:hover {
        background-color: #404345;
        color: #f2f2f3;
        text-decoration: none;
        outline: none;
    }
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.navbar-brand {
    width: 50px;
    height: 50px;
    margin-left: 90px;
    padding-left: 25px;
    margin-right: 0;
}

.logo-brand {
    width: 45px;
    height: 45px;
    background-size: contain;
    background-image: url('../../assets/logo.png');
}

.btns {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    .logo {
        width: 32px;
        border-radius: 3px;
        margin-right: 9px;
    }
}

.btn-sm {
    padding: 5px 10px;
}

.btn-outline-primary {
    background-color: #e1ecf4;
    color: #39739d;
    border-color: #7aa7c7;
}

.btn-outline-primary:hover {
    color: #2c5777;
    background-color: #b3d3ea;
    border-color: #7aa7c7;
}

.btn-login {
    background-color: #21aff1;
    color: white;
    border-radius: 4px;
    border: 1px solid #0a91ff;
}

.btn-signup {
    background-color: #E1ECF4;
    color: white;
    border-radius: 4px;
    border: 1px solid #0ab1ff;
    color: #21aff1;
}

.btn-signup {}

.bar-items {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 10px;
}

.px12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
    max-width: 50%;
}

@media(max-width: 1280px) {}

@media(max-width: 1200px) {
    .btns {
        margin-right: 30px;
    }
}

@media (max-width:986px) {
    .btns {
        margin-right: 20px;
    }
}

@media (max-width:780px) {
    #search {
        display: none;
    }
    .hidden {
        display: block;
    }
    .fixed-top {
        display: flex;
        justify-content: space-between;
        .flex-item {
            display: flex;
            align-items: center;
            justify-content: left;
            .searchBtn {
                margin-right: 5px;
                padding: 10px;
                box-sizing: content-box;
                &:hover {
                    cursor: pointer;
                    background-color: #edeff1;
                }
            }
            .menu {
                margin-left: 10px;
                padding: 10px;
                box-sizing: content-box;
                &:hover {
                    cursor: pointer;
                    background-color: #edeff1;
                }
            }
        }
    }
}