.side-bar-container {
    width: 20%;
    transition: box-shadow ease-in-out .1s, transform ease-in-out .1s;
    position: relative !important;
    background-color: #ffffff;
    .side-bar-tabs {
        float: right;
        margin-top: 25px;
        .home-link {
            text-decoration: none;
            color: #c4c8cc;
            p {
                padding: 5px 5px 5px 5px;
                border-right: 3px;
                font-size: 13px;
            }
            &:hover {
                color: #f2f2f3;
            }
        }
        .icon-link {
            text-decoration: none;
            color: #c4c8cc;
            p {
                display: flex;
                padding: 5px 30px 5px 10px;
                margin-bottom: 5px;
                border-right: 3px solid transparent;
                width: 160px;
                font-size: 13px;
            }
            .icon {
                margin-right: 5px;
            }
        }
        .link {
            text-decoration: none;
            color: #c4c8cc;
            p {
                padding: 5px 45px 5px 20px;
                margin-bottom: 5px;
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 1.1em;
            }
            &:hover {
                color: #f2f2f3;
            }
        }
        .title {
            font-size: 12px;
            margin-bottom: 5px;
        }
        .icon {
            width: 16px;
            color: grey;
        }
        .active {
            color: #f2f2f3;
            p {
                font-weight: 750;
                background: #eff0f1;
                color: #000000;
            }
            .icon {
                color: #f2f2f3;
            }
        }
    }
}

@media (max-width: 780px) {
    .side-bar-container {
        display: none;
    }
}