:root {
    --yellow-200: #675c37;
    --yellow-050: #464236;
}


/* --yellow-200: #675c37;
    --yellow-050: #464236; */


/* background-color: #2d2d2d !important; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans' !important;
}

body {
    background-color: #ffffff !important;
    padding-top: 0 !important;
}

a {
    text-decoration: none !important;
}

button {
    margin: 3px;
}