#mainbar {
    padding-top: 14px;
    width: 100%;
}

.homepage {
    width: calc(100% - 300px - 24px);
    padding: 24px 0 24px 0;
    float: left;
    margin: 0;
    .questions-grid {
        display: flex;
        padding-left: 24px;
        .questions-headline {
            margin-bottom: 24px;
            flex: 1 auto;
            font-size: 28px;
            font-weight: 400;
        }
    }
    .questions-tabs {
        margin-bottom: 12px;
        display: flex;
        padding-left: 24px;
        padding-right: 16px;
        span {
            font-size: 17px;
            margin-right: 12px;
        }
    }
    .questions {
        float: none;
        clear: both;
        width: auto;
        margin-bottom: 20px;
    }
}

.ask-btn {
    background-color: #21AFF1;
    font-size: 1.2em;
    color: whitesmoke;
}

@media (max-width: 1100px) {
    .homepage {
        width: 82%;
        float: none;
        margin: 0;
    }
}